@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap');

@font-face {
   font-family: serif;
   src: url(BodoniFLF-Bold.ttf);
}
p {
    padding: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html, body{
  height: 110%;
  background-color: #F5F5DC;
}

.navbar{
 width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6%;
  background-color:#470101;
  margin-bottom: 50px;
  transition: background 1s;
}
.navbar:hover {
  background-color: #2033540;
}

body {
    margin: 0;
    padding: 0;
    background-color:#450101 center/cover no-repeat fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 1, 0.3);
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: #CCCCCE;
  font-family: serif;
}



.pages ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

.pages a:hover{
  color: #71707D;
}

.pages a {
  color: #CCCCCE;
  font-size: 22px;
  font-family: 'Cormorant Infant', serif;
}

.body{
  padding: 1em;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(14, 23, 39, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Cormorant Infant', serif;
  color: #CCCCCE;
  display: block;
 transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #71707D;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openbtn div{
height: 4px;
background-color: #FAF8FF;
margin: 5px 0;
border-radius: 25px;
transition: 0.3s;
}

.openbtn{
  width: 30px;
  display: block;
  margin: 1em;
}

.one{
  width: 30px;
}

.two{
  width: 20px
}

.three{
width: 25px;
}

.openbtn:hover div{
  width: 30px;
  color:#71707D;
}



.body h2{
  font-size: 50px;
  font-family: serif;
  color: #203354;
  margin: auto;
}

.body ul{
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  border: 1px solid #0E1727;
  border-radius: 20px;
  background-color: #152238;
  color: #EAE9EC;
  padding: 10px;
  margin: 10px 100px;
  list-style-type: none;
  }

.body a{
  color: #EAE9EC;
  text-decoration: underline;
  text-decoration-color:#71707D;
}

.body a:hover{
  color: #71707D;
}
