body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
p {
    padding: 10px;
}
html, body{
  height: 150%;
  background-color: #F5F5DC;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap');

@font-face {
   font-family: serif;
   src: url(BodoniFLF-Bold.ttf);
}
p {
    padding: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


.navbar{
 width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  background-color: #470101;
  transition: background 1s;
  margin-bottom: 20px;
}
.navbar:hover {
  background-color: #000000;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: #CCCCCE;
  font-family: serif;
}
.pages ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

.pages a:hover{
  color: #71707D;
}

.pages a {
  color: #CCCCCE;
  font-size: 22px;
  font-family: 'Cormorant Infant', serif;
}

.overlay {
  height: 100%;
  width: 10;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(14, 23, 39, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Cormorant Infant', serif;
  color:#F5F5DC;
  display: block;
 transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #71707D;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openbtn div{
height: 4px;
background-color: #FAF8FF;
margin: 5px 0;
border-radius: 25px;
transition: 0.3s;
}

.openbtn{
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}

.one{
  width: 30px;
}

.two{
  width: 20px
}

.three{
width: 25px;
}

.openbtn:hover div{
  width: 30px;
  color:#0d0d0d;
}

.body div{
  background-color: #F5F5DC;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.body h2{
  font-size: 50px;
  font-family: serif;
  color: #ffffff;
  margin: auto;
  margin-top: 20px;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5DC;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.content {
    flex: 1;
    text-align: center;
    background-color:#F5F5DC;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color:#000000 ;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #5c0101;
}

.image img {
    width: 100%;
    border-radius: 10px;
}






.title{
color: #CCCCCE;
text-align: center;
margin-top: 0%;
}

.title h1{
  font-size: 80px;
  line-height: 120px;
  font-weight: 400;
  font-family: serif;
}

.title p{
font-family: 'Cormorant Infant', serif;
font-size: 20px;
line-height: 28px;
margin-top: 2px;
}

.links{
margin-top: 455px;
text-align: center;
font-family: 'Cormorant Infant', serif;
font-size: 20px;
}

.btn{
  color: #470101;
  border: 0.5px solid #CCCCCE;
  border-radius: 30px;
  padding: 5px 15px;
  margin-right: 10px;
  transition: 0.5s;
}

.btn:hover{
  color: #EAE9EC;
  background-color: #203354;
}

.duty {
  border: 1px solid #0E1727;
  border-radius: 20px;
  background-color: #152238;
  color: #EAE9EC;
  padding: 10px;
  margin: 10px 100px;
}
.duty h1{
  line-height: 120px;
  font-weight: 2em;
  font-family: serif;
  font-weight: bold;
  color: #black;
}

.duty p{
font-family: 'Cormorant Infant', serif;
color: #black;
font-size: 1.5em;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
}


.flowchart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flowchart-item {
    width: 150px;
    margin: 20px;

}

.flowchart-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.flowchart-item h2 {
    color: #ffffff;
}
#social-buttons {
     text-align: center;
     margin-top: 20px;
   }

   #social-buttons img {
     width: 30px;
     margin: 0 10px;
   }
