@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap');

@font-face {
   font-family: serif;
   src: url(BodoniFLF-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html, body{
  height: 150%;
  background-color: #EAE9EC;
}

.navbar{
 width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  background-color: #470101;
  transition: background 1s;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: #CCCCCE;
  font-family: serif;
}


.pages ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

.pages a:hover{
  color: #71707D;
}

.pages a {
  color: #CCCCCE;
  font-size: 22px;
  font-family: 'Cormorant Infant', serif;
}

.overlay {
  height: 100%;
  width: 10;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(14, 23, 39, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.overlay a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Cormorant Infant', serif;
  color:#820303;
  display: block;
 transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #71707D;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openbtn div{
height: 4px;
background-color: #FAF8FF;
margin: 5px 0;
border-radius: 25px;
transition: 0.3s;
}

.openbtn{
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}

.one{
  width: 30px;
}

.two{
  width: 20px
}

.three{
width: 25px;
}

.openbtn:hover div{
  width: 30px;
  color:#0d0d0d;
}

.body div{
  background-color: #820303;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.body h2{
  font-size: 50px;
  font-family: serif;
  color: #ffffff;
  margin: auto;
  margin-top: 20px;

}

.body p{
  font-family: 'Cormorant Infant', serif;
  font-size: 20px;
  border: 1px solid #0E1727;
  border-radius: 20px;
  background-color: #0d0c0c;
  color: #EAE9EC;
  padding: 10px;
  margin: 10px 100px;
}

.body a{
  color: #960202;
  border: 1px solid #71707D;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
  font-family: serif;
  background-color: #ffffff;
  margin-top: 10px;
  width: 100px;
  margin: auto;
  margin-bottom: 50px;
  transition: 0.5s;
}

.body a:hover{
  background-color: #0d0c0c;
}
