@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap');

@font-face {
   font-family: serif;
   src: url(BodoniFLF-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  background-color:#760101;
}

.navbar{
 width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 6%;
  background-color:#470101;
  margin-bottom: 50px;
  transition: background 1s;
}
.navbar:hover {
  background-color: #000000;
}
}
body {
    margin: 0;
    padding: 0;
    background-color:#450101 center/cover no-repeat fixed;
    color: #fff;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(0, 0, 1, 0.3); /* Set a transparent background color (adjust the alpha value as needed) */
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 600;
  color: #CCCCCE;
  font-family: serif;
}

.imagelogo{
  width: 40px;
  margin-right: 10px;
}

.pages ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

.pages a:hover{
  color: #71707D;
}

.pages a {
  color: #CCCCCE;
  font-size: 22px;
  font-family: 'Cormorant Infant', serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color:rgba(118, 1, 1, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Cormorant Infant', serif;
  color: #CCCCCE;
  display: block;
 transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  color: #71707D;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openbtn div{
height: 4px;
background-color: #FAF8FF;
margin: 5px 0;
border-radius: 25px;
transition: 0.3s;
}

.openbtn{
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}

.one{
  width: 30px;
}

.two{
  width: 20px
}

.three{
width: 25px;
}

.openbtn:hover div{
  width: 30px;
  color:#71707D;
}

.body{
  text-align: center;
  width: 80%;
  margin: auto;
}

.body h2{
  font-size: 60px;
  color: #ffffff;
}

.body p{
  margin-bottom: 40px;
  font-size: 20px;
  border: 1px solid #0E1727;
  border-radius: 20px;
  background-color: #000000;
  color: #EAE9EC;
  padding: 10px;
  font-family: 'Cormorant Infant', serif;
}

.question p{
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  font-style: italic;
  font-family: serif;
  color: #760101;
}

.question a{
  color: #760101;
  transition: 0.5s;
}

.question a:hover{
  font-size: 23px;
  color: #71707D;
}
